/*　↓↓↓↓　トップメイン共通　↓↓↓↓　*/
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: "Noto Sans Japanese", ​sans-serif;
}

header#PAGE_HEADER {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 50px;
	position: fixed !important;
	top: 0px;
	left: 0px;
	background-color: #464646;
}

div.header-logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 5px 0px;
	width: 150px;
	height: 50px;
}

img.logo {
	width: auto;
	height: 40px;
}

div.header-menu {
	position: absolute;
	top: 0px;
	left: 150px;
	margin: 0;
	padding: 0;
	width: calc(100% - 300px);
	min-width: 700px;
	height: 50px;
}

div#HEADER_MENU_INSIDE1 {
	margin: auto;
	width: 700px;
	height: 50px;
}

div#HEADER_MENU_INSIDE2 {
	margin: auto;
	width: 580px;
	height: 50px;
}

div.menu-interval {
	margin: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	color: #FFFFFF;
	float : left;
}

div.menu-interval span {
	width: 50px;
	font-weight: bold;
	font-size: 20px;
}

div.menu-item {
	margin: 0;
	padding: 0;
	width: auto;
	height: 50px;
	color: #FFFFFF;
	float : left;
}

div.menu-item a {
	width: auto;
	height: 45px;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

div.menu-item a:link {
	color: #FFFFFF;
}

div.menu-item a:visited {
	color: #FFFFFF;
}

p.onbar {
	margin: auto;
	height: 3px;
	width: auto;
}

p.underbar {
	margin: auto;
	height: 3px;
	width: 0;
	background-color: #FFFFFF;
}

/*　↑↑↑↑　トップメイン共通　↑↑↑↑　*/
/*　↓↓↓↓　トップページ　↓↓↓↓　*/

div#PAGE_MAIN1 {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: calc(100% - 50px);
	position: fixed !important;
	top: 50px;
	left: 0px;
	overflow: auto;
	text-align: left;
}

div#TOP {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: auto;
	background-color: #949494;
	position: relative;
}

img#TOP_BACK {
	width: 100%;
	min-width: 850px;
	height: auto;
	z-index: 0;
}

img#TOP_LOGO {
	position: absolute;
	margin: auto;
	top: 10%;
	left: 0px;
	right: 0px;
	width: 15%;
	min-width: 127.5px;
	height: auto;
	z-index: 1;
}

img#TOP_FOR_YOU {
	position: absolute;
	margin: auto;
	top: 40%;
	left: 0px;
	right: 0px;
	width: 40%;
	min-width: 340px;
	height: auto;
	z-index: 1;
}

img#TOP_EXPLAIN {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 0px;
	right: 0px;
	width: 35%;
	min-width: 212.5px;
	height: auto;
	z-index: 1;
}

img#TOP_UPLOAD_AREA {
	position: absolute;
	margin: auto;
	top: 60%;
	left: 0px;
	right: 0px;
	width: 24%;
	min-width: 204px;
	height: auto;
	z-index: 1;
}

img#TOP_UPLOAD_AREA:hover {
	cursor: pointer;
}

p#TOP_FILE_NAME {
	position: absolute;
	margin: auto;
	top: calc(62.5% - 12px);
	left:5%;
	right: 0px;
	width: 19%;
	min-width: 161.5px;
	height: auto;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	z-index: 2;
}

p#TOP_FILE_NAME:hover {
	cursor: pointer;
}

input#UPLOAD {
	position: absolute;
	margin: auto;
	top: 60%;
	left: 0px;
	right: 0px;
	width: 24%;
	min-width: 204px;
	height: auto;
	z-index: 1;
	display: none;
}

input#SUBMIT {
	position: absolute;
	margin: auto;
	top: 70%;
	left: 0px;
	right: 0px;
	width: 24%;
	min-width: 204px;
	height: auto;
	z-index: 1;
}

img#TOP_SCROLL {
	position: absolute;
	margin: auto;
	top: 85%;
	left: 0px;
	right: 0px;
	width: 6%;
	min-width: 51px;
	height: auto;
	z-index: 1;
}

div#ABOUT_USAGE {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: auto;
	background-color: #97ECED;
	position: relative;
}

img#ABOUT_USAGE_BACK {
	width: 100%;
	min-width: 850px;
	height: auto;
	z-index: 0;
}

img#ABOUT_USAGE_EXPLAIN {
	position: absolute;
	margin: auto;
	top: 5%;
	left: 0px;
	right: 0px;
	width: 60%;
	min-width: 510px;
	height: auto;
	z-index: 1;
}

img#ABOUT_USAGE_STEPS {
	position: absolute;
	margin: auto;
	top: 55%;
	left: 0px;
	right: 0px;
	width: 60%;
	min-width: 510px;
	height: auto;
	z-index: 1;
}

div#QA {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: auto;
	background-color: #F1ADB7;
	position: relative;
}

img#QA_BACK {
	width: 100%;
	min-width: 850px;
	height: auto;
	z-index: 0;
}

img#QA_FAQ {
	position: absolute;
	margin: auto;
	top: 5%;
	left: 0px;
	right: 0px;
	width: 20%;
	min-width: 170px;
	height: auto;
	z-index: 1;
}

div#UPDATE_INFO {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: auto;
	background-color: #FFFFFF;
	position: relative;
}

img#UPDATE_INFO_BACK {
	width: 100%;
	min-width: 850px;
	height: auto;
	z-index: 0;
}

img#UPDATE_INFO_UPDATE {
	position: absolute;
	margin: auto;
	top: 5%;
	left: 0px;
	right: 0px;
	width: 10%;
	min-width: 85px;
	height: auto;
	z-index: 1;
}

img#UPDATE_INFO_INFO {
	position: absolute;
	margin: auto;
	top: 50%;
	left: 0px;
	right: 0px;
	width: 10%;
	min-width: 85px;
	height: auto;
	z-index: 1;
}

/*　↑↑↑↑　トップページ　↑↑↑↑　*/
/*　↓↓↓↓　メインページ　↓↓↓↓　*/

div#PAGE_MAIN2 {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: calc(100% - 50px);
	position: fixed !important;
	top: 50px;
	left: 0px;
	overflow: auto;
	text-align: left;
}

div.interval {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 10px;
	background-color: #F7F8F7;
	position: relative;
}

img.interval-image {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	width: 850px;
	height: auto;
	z-index: 1;
}

/* First Block */

div#REQUIRMENT {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 650px;
	background-color: #F7F8F7;
	position: relative;
	text-align: center;
}

p#REQUIRMENT_TITLE {
	position: absolute;
	margin: auto;
	top: 0%;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 80px;
	font-size: 3em;
	color: #474747;
	z-index: 1;
}

p#REQUIRMENT_SUBTITLE {
	position: absolute;
	margin: auto;
	top: 80px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 30px;
	font-size: 1em;
	color: #474747;
	z-index: 1;
}

div#REQUIRMENT_BOX {
	position: absolute;
	margin: auto;
	top: 120px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 500px;
	color: #474747;
	z-index: 1;
	background-color: #FFFFFF;
}

div#REQUIRMENT_GRAPH {
	position: relative;
	margin: 0;
	padding: 0;
	width: 850px;
	height: 320px;
}

svg#BAR_GRAPH {
	position: absolute;
	top: 0px;
	left: 50px;
	margin: 0;
	padding: 0;
	width: 350px;
	height: 320px;
}

svg#RABBIT_GRAPH {
	position: absolute;
	top: 0px;
	left: 400px;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 320px;
}

img#OVERRAY {
	position: absolute;
	top: 0px;
	left: 400px;
	margin: 0;
	padding: 0;
	width: 250px;
	height: 320px;
}

img#SCALE {
	position: absolute;
	top: 0px;
	left: 650px;
	margin: 5px;
	padding: 0px;
	width: 140px;
	height: 310px;
}

div#CREDIT_LABEL {
	margin: 40px auto;
	width: 785px;
	height: 88px;
	z-index: 1;
}

td.credit-item {
	width: 120px;
	height: 25px;
	font-size: 15px;
}

td.credit-number {
	width: 80px;
	height: 50px;
	font-size: 30px;
}

td.credit-unit {
	width: 40px;
	height: 25px;
	font-size: 15px;
}

td.credit-sign {
	width: 20px;
	height: 25px;
	font-size: 15px;
}

td.credit-bracket {
	width: 20px;
	height: 75px;
	font-size: 50px;
}

td.other-credit {
	color: #474747;
}

td.get-credit {
	color: #96d946;
}

td.now-credit {
	color: #e9d848;
}

td.pre-credit {
	color: #85d0f6;
}

td.left-credit {
	color: #e95956;
}

/* Second Block */

div#CREDIT {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 730px;
	background-color: #F7F8F7;
	position: relative;
	text-align: center;
}

p#CREDIT_TITLE {
	position: absolute;
	margin: auto;
	top: 0%;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 80px;
	font-size: 3em;
	color: #474747;
	z-index: 1;
}

p#CREDIT_SUBTITLE {
	position: absolute;
	margin: auto;
	top: 80px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 70px;
	font-size: 0.8em;
	color: #474747;
	z-index: 1;
}

button#CREDIT_PULLDOWN {
	position: absolute;
	margin: auto;
	top: 150px;
	left: 0px;
	right: 0px;
	width: 170px;
	height: 35px;
	border-style: solid;
	border-color: #bbbbbb;
	border-width: 1px;
	border-radius: 10px;
	font-size: 1em;
	color: #474747;
	z-index: 1;
	background-color: #ffffff;
}

button#CREDIT_PULLDOWN:active {
	background-color: #e2e2e2;
}

div#CREDIT_BOX {
	position: absolute;
	margin: auto;
	top: 200px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 500px;
	font-size: 1.5vw;
	color: #474747;
	z-index: 1;
	background-color: #FFFFFF;
}

div#CREDIT_GRAPH {
	position: relative;
	margin: 0;
	padding: 0;
	width: 850px;
	height: 260px;
	min-width: 765px;
}

div#GET_CREDIT_GRAPH {
	position: absolute;
	top: 0;
	left: 25px;
	margin: 0;
	width: 400px;
	height: 260px;
}

div#GRADE_A_GRAPH {
	position: absolute;
	top: 0;
	left: 425px;
	margin: 0;
	width: 400px;
	height: 260px;
}

/* Third Block */

div#GRADE_GPA {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 1000px;
	background-color: #F7F8F7;
	position: relative;
	text-align: center;
}

p#GRADE_GPA_TITLE {
	position: absolute;
	margin: auto;
	top: 0%;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 80px;
	font-size: 3em;
	color: #474747;
	z-index: 1;
}

p#GRADE_GPA_SUBTITLE {
	position: absolute;
	margin: auto;
	top: 80px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 30px;
	font-size: 1em;
	color: #474747;
	z-index: 1;
}

div#GRADE_GPA_BOX {
	position: absolute;
	margin: auto;
	top: 120px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 850px;

	color: #474747;
	z-index: 1;
	background-color: #FFFFFF;
}

table#GRADE_PAPERS {
	margin: auto;
}

td.paper-td {
	width: 80px;
	height: 100px;
}

img.paper-image {
	width: 57px;
	height: 75px;
}

td.cross-td {
	width: 20px;
	height: 100px;
	color: #474747;
	font-size: 1em;
}

td.credit-number-td {
	width: 90px;
	height: 100px;
	color: #474747;
	font-size: 2em;
}

td.unit-td {
	width: 40px;
	height: 100px;
	color: #474747;
}

div#GRADE_GPA_GRAPH {
	margin: auto;
	width: 640px;
	height: 460px;
	position: relative;
}

svg#GRADE_RATE {
	position: absolute;
	top: 0px;
	left: 120px;
	margin: 0;
	width: 400px;
	height: 260px;
}

svg#CREDIT_TRANSITION {
	position: absolute;
	top: 260px;
	left: 0px;
	margin: 0;
	width: 320px;
	height: 200px;
}

svg#GPA_TRANSITION {
	position: absolute;
	top: 260px;
	left: 320px;
	margin: 0;
	width: 320px;
	height: 200px;
}

/* Fourth Block */

div#SCHEDULE {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 800px;
	background-color: #F7F8F7;
	position: relative;
	text-align: center;
}

p#SCHEDULE_TITLE {
	position: absolute;
	margin: auto;
	top: 0%;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 80px;
	font-size: 3em;
	color: #474747;
	z-index: 1;
}

p#SCHEDULE_SUBTITLE {
	position: absolute;
	margin: auto;
	top: 80px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 30px;
	font-size: 1em;
	color: #474747;
	z-index: 1;
}

div#SCHEDULE_BOX {
	position: absolute;
	margin: auto;
	top: 120px;
	left: 0px;
	right: 0px;
	width: 850px;
	height: 640px;
	color: #474747;
	z-index: 1;
	background-color: #FFFFFF;
}

/*　↑↑↑↑　メインページ　↑↑↑↑　*/
/*　↓↓↓↓　トップメイン共通　↓↓↓↓　*/

div#FOOTER {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 850px;
	height: 50px;
	background-color: #464646;
}

p#COPYRIGHT {
	margin: auto;
	width: 300px;
	color: #FFFFFF;
	font-size: 25px;
}
/*　↑↑↑↑　トップメイン共通　↑↑↑↑　*/
