@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese',serif; 
  background: #fff;
}



.rate{
font-family: 'Noto Sans Japanese', serif;
  font-weight:500;
}

.upper_rate{
  font-family: 'Noto Sans Japanese', serif;
  letter-spacing: 10px;
  font-weight:100;
}

svg{
    /*sizeの指定はHTMLの方のviewBoxとpreserveAspectratioで！*/
}

#block1{
    margin:0 0 100 0;
}

#block2{
  display: inline-block;
  width:100%;
  height: auto;
  margin: auto;
}

#block3{
    /*使用してない*/
}

.center{
    width:100%;
    height: auto;
    margin: auto;
    
}

.TITLE {
    font-family: 'Noto Sans Japanese',serif;
    font-weight: 100;
    margin: 0 0 0 0;
	font-size: 64px;
	color: #474747;
}

.SUBTITLE{
    font-family: 'Noto Sans Japanese',serif;
    font-weight: 500;
     margin: 0 0 0 0;
	font-size: 15px;
	color: #474747;
	/*z-index: 1;*/
}

#BLOCK1_GRAPH{
    margin:10 0 20 0;
}

.DESCRIPTION{
    font-family: 'Noto Sans Japanese',serif;
    font-weight: 100;
     margin: 10 0 50 0;
	font-size: 12px;
	color: #474747;
}

.CreditBlock{
    float:left;
}



.CreditValue p{
    display:inline-block;
    margin-left: 0;
    padding-left: 0;
}

.CreditClassElement{
    display: inline;
    font-weight: 200;
    margin-left: 5px;
    vertical-align: -5px;   
}

.CreditOperator{ 
    font-weight: 500;
    color:#000000;
    vertical-align:-15px;
}

#CreditOperatorSMALL{
    font-size: 10px;
}

#CreditOperatorLARGE{
    font-size: 20px;
}

#NEED_CREDIT{
    color: #474747;
}

#GET_CREDIT{
    color: #96d946;
}

#NOW_CREDIT{
    color: #e9d848;
}

#PRE_CREDIT{
    color: #85d0f6;
}

#REFT_CREDIT{
    color: #e95956;
}

.CreditBlock{
    margin-top:20px;
    padding: 0 10 0 10;
    float:left;
}

.CreditCountbox{
    float: left;
    margin: 0 20 30 20;
    
}

.CountSub{
    color: #474747;
}

.CountSub p{
    display:inline-block;
    vertical-align:middle;
    margin-left: 0;
    padding-left: 0;
}

.MultElement {/*「×」の記号*/
    display: inline;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
    color: #474747;
}

.CvalueElement{/*単位数の値の部分*/
    display: inline;
    font-weight:400;
    font-size: 30px;
    vertical-align: -5px;
}

.CreditElement {/*「単位」の文字列部分*/
    display: inline;
    font-weight: 100;
    margin-left: 5px;
    vertical-align: -5px;
}

